.App {
  text-align: center
}
button{
  height: 25vmin;
  width: 25vmin;
}
h2 {
  font-size: x-large;
   font-weight: bold;
}
.theButtons{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgb(12, 107, 184);
  padding: 10px;
}
.individualButtons {
  background-color: rgba(102, 57, 98, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}